h1 {
		background-color: pink;
		text-align: center;
	   }
	h2 {
	    text-align: center; 
	   }
	h5 {
	    text-align: center;
	   }
	p {
		font-family: cursive;
	   }
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	</style>